/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}
p{
  font-size: 15px;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	
}
h1{
  color: gray;
  font-size: 20mm;
  font-family: 'Times New Roman';
  padding-top: 0px;
  padding-bottom: 0px;
  
}
h2{
  color: gray;
  font-family: 'Times New Roman';
}
.bigimg{
  border:5px solid gray;
  
}

.images-bottom{
  display: inline-block;
}
.images-bottom:hover{
  border:5px solid gray;
}
.rights{
  text-align:  right;
  font-size:12px;
}
/* Write all remaining styles here */