/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}
h1{
  color: gray;
  font-size: 20mm;
  font-family: 'Times New Roman';
}
h2{
  color: gray;
  font-family: 'Times New Roman';
}
.bigimg{
  border:5px solid black;
  
}
a:hover{
  color: red;
}
/* Write all remaining styles here */